.flash-card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 450px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px white;
    border-radius: 1rem;
    margin: 3rem auto;
    background: linear-gradient(90deg, #01408871 0%, #000a5f 100%);
    transform: translateY(0%);
    transition: all ease 0.3s;
}

.flash-card-container:hover {
    cursor: pointer;
    transform: translateY(-5%);
    transition: all ease 0.3s;
}

#index {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#index h1 {
    font-size: 3rem;
    color: rgba(200, 200, 200, 0.5);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content h3 {
    color: white;
}