nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 13vh;
}

.container-new {
	width: 85%;
	margin: 0 auto;
	padding: 0.5rem 0;
}

#other-links {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.nav-link {
	color: rgb(220, 220, 220);
	transform: translateY(0%);
	transition: transform ease 0.3s;
}

.nav-link:hover {
	color: white;
	border-bottom: 3px solid rgb(98, 110, 227);
	transform: translateY(-10%);
	transition: transform ease 0.3s;
}

.nav-link-active {
	color: white;
	border-bottom: 3px solid rgb(98, 110, 227);
}

.logo {
	color: white;
}

.logo:hover {
	text-decoration: none;
	color: rgb(220, 220, 220);
}

.profile:hover {
	cursor: pointer;
}

.profile-container {
	position: relative;
}

.modal-off {
	display: none;
}

.user-profile-modal {
	position: absolute;
	top: 150%;
	right: 0%;
	background-color: rgba(0, 0, 0, 0.3);
	width: 150px;
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 9;
}

.profile-link {
	width: 100%;
	padding: 0.5rem 0;
	text-align: center;
	border-radius: 0.5rem;
}

.profile-link:hover {
	cursor: pointer;
	background-color: darkcyan;
	color: black;
}
